<h2>Running Function Managers</h2>
<div class="row">
  <div class="table-responsive runninig-fm-table">
    <div *ngIf="instances?.length == 0" class="card">
      <div class="card-block">
        There are no Function Managers running at the moment.
      </div>
    </div>
    <table class="table table-striped rcms-instance-table">
      <tbody>
      <tr *ngFor="let instance of instances">
        <td class="w25p"><a [routerLink]="['/fm', instance]" target="_blank">{{instance}}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
